html{
    font-size: 100%;
}

body{
    background-color: #F3F5FC;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}

.caja{
    position: relative;
    width: 100%;
    margin: 0;
}

.logo-alura{
    position: absolute;
    width: 1.2%;
    left: 2%;
    top: 40%;
}

.titulo{
    position: relative;
    display: inline-block;
    width: 100%;
    margin-top: 3rem;
    text-align: center;
    font-size: 2rem;
    color: #0A3871;
    font-style: bold;
}

.titulo em{
    font-size: 1rem;
    color: #8A97AA;
}

main{
    position: relative;
    width: 100%;
    margin: 2rem 0 0 0;
}

.message-input{
    display: inline-block;
    width: 70%;
    margin: 2%;
    vertical-align: top;
}

.message-to-encrypt{
    background-color: #F3F5FC;
    display: block;
    border-style: none;
    position: relative;
    font-size: 1.5em;
    width: 100%;
    height: 37.5rem;
    margin: 0 0 0 7%;
    resize: none;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    color: #0A3871;
    outline: none;
}

.signo-admiracion{
    width: 1.5%;
    display: inline-block;
    margin: 0 0.5rem 0 5rem;
    vertical-align: middle;
}

.text-label{
    display: inline-block;
    margin: 0;
    width: 90%;
    vertical-align: middle;
    color: #495057;
}

.btn-encrypt{
    margin: 15px 10px 0 80px;
    padding: 24px;
    gap: 8px;

    width: 328px;
    height: 67px;

    /* Dark blue/dark-blue-300 */

    background: #0A3871;
    border-radius: 24px;

    text-align: center;
    font-size: large;
    color: #fff;
}

.btn-unencrypt{
    margin: 15px 10px 0 10px;
    padding: 24px;
    gap: 8px;

    width: 328px;
    height: 67px;

    /* Dark blue/dark-blue-300 */

    background: #F3F5FC;
    border-radius: 24px;
    border: 2px solid #0A3871;

    text-align: center;
    font-size: large;
    color: #0A3871;
}

.btn-encrypt:hover, .btn-unencrypt:hover, .btn-copy:hover{
    cursor: pointer;
}

.message-output{
    display: inline-block;
    position: relative;
    width: 20%;
    height: 45rem;
    margin: 0px;

    /* White */

    background: #FFFFFF;
    /* shadow */

    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.message-encripted{
    margin: 3.125rem 2.5rem;
    font-size: 1.2rem;
    color: #495057;
}

.message-empty{
    display: block;
    position: relative;
    width: 75%;
    margin: 30% auto 30% auto;
}

.not-message-found{
    position: relative;
    margin: 10% 5% 5% 5%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    color: #343A40;
}

.insert-text{
    position: relative;
    margin: 5% 5%;
    text-align: center;
    font-size: 1.2rem;
    color: #495057;
}

.btn-copy{
    position: absolute;
    top: 39rem;
    left: calc(50% - 164px);
    margin: 2% auto;
    padding: 1.2rem;
    
    width: 85%;
    height: 4rem;

    /* Dark blue/dark-blue-300 */

    background: #fff;
    border-radius: 24px;
    border: 2px solid #0A3871;

    text-align: center;
    font-size: 1.2rem;
    color: #0A3871;
    display: none;
}

