html{
    font-size: 100%;
}

body{
    background-color: #F3F5FC;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}

.caja{
    position: relative;
    width: 100%;
    margin: 0;
}

.logo-alura{
    position: absolute;
    width: 1.5rem;
    left: 2%;
    top: 40%;
}

.titulo{
    position: relative;
    display: inline-block;
    width: 100%;
    margin-top: 3rem;
    text-align: center;
    font-size: 2rem;
    color: #0A3871;
    font-style: bold;
}

.titulo em{
    font-size: 1rem;
    color: #8A97AA;
}

main{
    position: relative;
    width: 100%;
    margin: 2rem 0 0 0;
}

.message-input{
    display: inline-block;
    width: 65%;
    margin: 2%;
    vertical-align: top;
}

.message-to-encrypt{
    background-color: #F3F5FC;
    display: block;
    border-style: none;
    position: relative;
    font-size: 1.5em;
    width: 100%;
    height: 60vh;
    margin: 0 0 0 7%;
    resize: none;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    color: #0A3871;
    outline: none;
}

.signo-admiracion{
    width: 1.5%;
    display: inline-block;
    margin: 0 0.5rem 0 5rem;
    vertical-align: middle;
}

.text-label{
    display: inline-block;
    margin: 0;
    width: 80%;
    vertical-align: middle;
    color: #495057;
}

.btn-encrypt{
    margin: 1rem 0.625rem 0 5rem;
    padding: 1.5rem;

    width: 21vw;
    height: 4rem;

    /* Dark blue/dark-blue-300 */

    background: #0A3871;
    border-radius: 24px;

    text-align: center;
    font-size: large;
    color: #fff;
}

.btn-unencrypt{
    margin: 1rem 0.625rem 0 0.625rem;
    padding: 1.5rem;

    width: 21vw;
    height: 4rem;

    /* Dark blue/dark-blue-300 */

    background: #F3F5FC;
    border-radius: 24px;
    border: 2px solid #0A3871;

    text-align: center;
    font-size: large;
    color: #0A3871;
}

.btn-encrypt:hover, .btn-unencrypt:hover, .btn-copy:hover{
    cursor: pointer;
}

.message-output{
    display: inline-block;
    width: 22%;
    height: 80vh;
    margin: 0 0 0 3%;

    /* White */

    background: #FFFFFF;
    /* shadow */

    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.message-encripted{
    width: 90%;
    margin: 3.125rem 2.5rem;
    font-size: 1.5rem;
    color: #495057;
    height: 55vh;
}

.message-empty{
    display: block;
    width: 75%;
    margin: 30% auto 30% auto;
}

.not-message-found{
    margin: 10% 5% 5% 5%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    color: #343A40;
}

.insert-text{
    margin: 5% 5%;
    text-align: center;
    font-size: 1.2rem;
    color: #495057;
}

.btn-copy{
    display: block;
    margin: 0 7.5%;
    padding: 1.2rem;
    
    width: 85%;
    height: 4rem;

    /* Dark blue/dark-blue-300 */

    background: #fff;
    border-radius: 24px;
    border: 2px solid #0A3871;

    text-align: center;
    font-size: large;
    color: #0A3871;
    display: none;
}

@media only screen and (max-width: 800px) {

    .logo-alura{
        left: 5%;
    }

    main{
        height: 100%;
    }

    .message-input{
        display: block;
        width: 100%;
        margin: 2% 0;
        height: auto;
    }

    .message-to-encrypt{
        width: 90%;
        margin: 2% auto;
        height: 25rem;
    }

    .signo-admiracion{
        margin: 0 0.2rem 0 2rem;
    }

    .btn-encrypt{
        width: 20.5rem;
        margin-left: 2rem;
        padding: 1rem;
    }
    
    .btn-unencrypt{
        width: 20.5rem;
        padding: 1rem;
    }

    .message-output{
        padding: 1rem;
        width: 90%;
        margin: 5% 2%;
        height: auto;
        min-height: 50px;
    }
    
    .message-encripted{
        height: auto;
        width: 90%;
        margin: 3rem auto;
    }

    .message-empty{
        display: none;
    }

    .not-message-found{
        margin: 5% 0 0 0;
        font-size: 1.7rem;
        height: auto;
    }

    .insert-text{
        margin: 3% 0 5% 0;
        font-size: 1.5rem;
        height: auto;
    }

    .btn-copy{
        position: relative;
        top: 0;
        left: 0;
        padding: 1rem;
        margin: 5% 7.5%;
    }
}

@media screen and (max-width: 750px) {

    html{
        font-size: 70%;
    }

    .logo-alura{
        top: 20%;
    }

    .signo-admiracion{
        width: 1rem;
    }

    .btn-encrypt{
        width: 90%;
        margin: 1rem 5%;
        padding: 1rem;
    }

    .btn-unencrypt{
        width: 90%;
        margin: 0 5%;
        padding: 1rem;
    }
}